@import url('../../assets//colors.css');

.menu-selected {
    color: var(--primary-blue);
    border-bottom: 6px solid var(--primary-blue);
}

.menu > div {
    flex: 1;
    text-align: center;
    text-decoration: none;
}

.menu > div > a{
    text-decoration: none;
    color: var(--primary-white);
}

.menu > div:is(.menu-selected) > a{
    text-decoration: none;
    color: var(--primary-blue);
}

.menu > div:hover {
    font-family: BalooBold;
    cursor: pointer;
}

.menu-dropdown{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 6px;
    /* width: 100%; */
    align-items: flex-start;
    background-color: var(--primary-black);
    padding: 20px;
}

.menu-dropdown > a{
    text-decoration: none;
    color: var(--primary-white);
    font-family: Baloo;
    font-size: 20px;
    width: 100%;
    text-align: left;
}

.menu-dropdown > a:not(:last-child){
    margin-bottom: 10px;
}

.menu-dropdown > a:hover{
    color: var(--primary-blue);
}