@import url('../../assets//colors.css');

.header-menu{
    display: flex;
    justify-content: space-around;
}

.dd-wrapper {
    margin: 0 16px;
}

.dd-header {
    display: flex;
    height: 100%;
    font-size: 24px;
}

.dd-header:hover {
    cursor: pointer;
}

.dd-header-selected {
    border-bottom: 5px solid var(--primary-blue);
    box-sizing: border-box;
}

.dd-header-selected > div > a, .dd-header-title > a:hover, .dd-list > a:hover {
    color: var(--primary-blue);
}

.dd-header-title {
    display: flex;
    align-items: center;
    height: 100%;
}

.dd-header-title > a, .dd-list > a {
    color: var(--primary-white);
    text-decoration: none;
}

.dd-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--primary-black);
    padding: 12px;
    font-size: 20px;
}
