.valuesHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-grey);
}

.valuesHeader > a {
    text-decoration: none;
}